@import url(http://fonts.googleapis.com/css?family=Oxygen);

/* Custom Styles */
body {
  font-family: 'Oxygen', sans-serif;
}

#main-nav-btn {
  cursor: pointer;
  position: fixed;
  z-index: 1; /* above content */
  margin: 10px;
  font-size: 2em;
  opacity: .2;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#main-nav-btn:hover {
  opacity: 1;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

#page-content-wrapper {
  margin: 0 auto;
  padding: 0px;
}

.divider {
  border: 1px solid black;
}

.whitespace-top {
  padding: 15px 0px;
}

/* re-position caption text to center */
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.greeting {
  padding: 10px;
}

.carousel-caption {
  bottom: 40px;
}

.sidebar-nav li a:hover {
  color: #F7B865;
}

li.active a{
  font-weight: bolder;
  background: rgba(255,255,255,0.2);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.projects {
  background-color: #F2F2F2;
  padding: 1px 10px;
  margin: 5px;
}

.tags {
  padding: 0 2px;
  overflow: none;
}

footer {
  position: relative;
  z-index: 1; /* above content */
  margin: 0 auto;
  bottom: 0;
  left: 0; /* center */
  right: 0; /* center */
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

footer.toggled {
  left: 250px; /* center */
}

.ng-enter.ng-enter-active,
.ng-leave {
  opacity: 1;
  height: 80px;
  overflow: hidden;
}

.ng-leave.ng-leave-active,
.ng-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

