@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url(http://fonts.googleapis.com/css?family=Yellowtail);

/* Custom Styles */

body {
  font-family: 'Oxygen', sans-serif;
}

h1.about {
  padding-left: 8px;
}

a.email, a.email::before, a.email::after {
  text-decoration: none;
  color: #999;
}

#main-nav-btn {
  cursor: pointer;
  position: fixed;
  z-index: 1; /* above content */
  margin: 10px;
  font-size: 2em;
  opacity: .4;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#main-nav-btn:hover {
  opacity: 1;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

#top-bar {
  background-color: white;
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 3.5em;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1; /* above content */
  opacity: 0;
}

.cursive-font {
  font-family: 'Yellowtail', cursive;
}

#page-content-wrapper {
  margin: 0 auto;
  padding: 0px;
}

.whitespace-top {
  padding: 15px 0px;
}

.sidebar-nav li a:hover {
  color: #D87D15; /* orange color */
}

.sidebar-nav li.active a{
  color: #D87D15; /* orange color */
  font-weight: bolder;
  background: rgba(255,255,255,0.2);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.divider {
  border: 1px solid black;
}

/* Home page */

#myCarousel {
  box-shadow: 0px 3px 5px gray;
}

/* re-position caption text to center */
.cover-text {
  top: 60%;
  transform: translateY(-50%);
  bottom: initial;
}

.cover-text h1 {
  font-size: 2.5em;
}

.cover-text p {
  font-size: 1em;
}

.cover-background {
  background-image: url(../images/bg-soar_opt.png);
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.greeting {
  padding: 10px;
}

/* About page */

.skill-bar {
  background: #CCC;
  display: table;
  height: 5px;
  width: 100%;
  margin: 10px -2px 20px -2px;
}

.skill-bar .skill-rate-on {
  background: #D87D15;
}

.skill-rate-on, .skill-rate-off {
  display: table-cell;
  border-left: 2px solid #FFF;
  border-right: 2px solid #FFF;
}

/* Projects page */

.projects {
  background-color: #F2F2F2;
  padding: 1px 10px;
  margin: 5px;
  box-shadow: 2px 2px 5px gray;
}

.tags {
  padding: 0 5px;
  overflow: none;
  border: 1px solid gray;
}

.crop {
 height: 100px;
 width: 100px;
 overflow: hidden;
}

.crop img {
 height: 100px;
 width: auto;
}

footer { /* in-progress */
  position: relative;
  z-index: 1; /* above content */
  margin: 0 auto;
  bottom: 0;
  left: 0; /* center */
  right: 0; /* center */
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

footer.toggled {
  /* in-progress left: 250px;*/ /* center */
}

.ng-enter.ng-enter-active,
.ng-leave {
  opacity: 1;
  height: 80px;
  overflow: hidden;
}

.ng-leave.ng-leave-active,
.ng-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

/* specials rules */

@media(max-width:400px) {
    #wrapper.toggled, #wrapper {
        position: absolute;
        top: 0;
        left: 0;
    }
    .cover-background {
      background-image: url(../images/bg-soar_opt-min.png);
      height: 55vh;
    }
}