<section id="about-page">
  <div class="container">
    <div class="whitespace-top"></div><!-- some top padding of whitespace-->
  
        <header><h1 class="about">About Me</h1></header>
        <div class="panel panel-default projects">
        <div class="panel-body">
          <section id="bio">
            <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                <img class="img-rounded" src="images/self.jpg" width="250" height="250" />
              </div>

              <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                <p>My name is Dau Lam. I am a senior at Temple University pursuing my bachelor’s degree in Computer Science. I will be graduating in May 2016. Technology has always been my thing ever since I could remember. I still chuckle at the days when I wrote simple functions on my TI-83 throughout high school. I developed a strong affinity for computer programming at that same school where I was fortunate enough to take Java programming with my wonder instructor Mr. Lee Silverman. From that, I was able to gain experience as a developer which has led me to many interesting things.</p>

                <p>My strongest area of expertise is object-oriented programming in Java and C++. However I am also very excited learn anything new and fresh. I am very eager to and always like to tinker with new technologies. Lately I have been getting into web development - experimenting with Javascript/jQuery and different server-side scripting languages. Besides coding, I like to stay current on new innovations in hardware and security. Outside of work, I enjoy playing tennis and cooking.</p> 
            </div>
          </div>
        </section>

        <section id="skillset">
          <div class="row">
            <h3>My Core Skillsets</h3>
              <div class="col-xs-12 col-sm-4">
                <h4>Web Development</h4>
                <p>HTML5 / CSS3</p>
                <div class="skill-bar">
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-off"></div>
                </div>
                <p>Javascript</p>
                <div class="skill-bar">
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-off"></div>
                </div>
                <p>Angular.JS</p>
                <div class="skill-bar">
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-off"></div>
                  <div class="skill-rate-off"></div>
                </div>
                <p>Twitter Bootstrap</p>
                <div class="skill-bar">
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-off"></div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-4">
                <h4>Back-end / System Dev.</h4>
                <p>Java</p>
                <div class="skill-bar">
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                </div>
                <p>C/C++</p>
                <div class="skill-bar">
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                </div>
                <p>SQL (MySql)</p>
                <div class="skill-bar">
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-off"></div>
                </div>
                <p>Android</p>
                <div class="skill-bar">
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-off"></div>
                  <div class="skill-rate-off"></div>
                  <div class="skill-rate-off"></div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-4">
                <h4>Software</h4>
                <p>Git / Bash</p>
                <div class="skill-bar">
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-off"></div>
                </div>
                <p>Sublime Text</p>
                <div class="skill-bar">
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-off"></div>
                </div>
                <p>Photoshop / GIMP</p>
                <div class="skill-bar">
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-off"></div>
                </div>
                <p>GCC</p>
                <div class="skill-bar">
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-on"></div>
                  <div class="skill-rate-off"></div>
                </div>
              </div>
          </div>
        </section>

        </div> <!-- END Panel body -->
        </div> <!-- END Panel -->
  </div>
</section>