<section id="home-page">
	<div id="myCarousel" class="carousel slide">
		<!-- Indicators -->
		<!-- <ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
		</ol> -->
		<!-- Wrapper for slides -->
		<section class="carousel-inner">
			<div class="active item">
				<img src="images/bg-soar_opt.png" alt="Background">
				<div class="container">
					<div class="carousel-caption">
						<div class="greeting">
							<h1>Hello</h1>
							<p>I'm Dau Lam</p>
							<p>Software Developer in Philadelphia, PA</p>
						</div>
						<p><a class="btn btn-md btn-default" href="#/" role="button" data-ng-click="toggleNav()">Click to Begin</a></p>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<div class="row">
		<p class="text-center greeting">Cover photo by <a href="https://unsplash.com/brenomachado">Breno Machado</a></p>
		<p class="text-center">This website is coded in AngularJS with great help from Twitter Bootstrap</p>
      	<div class="col-xs-12 col-sm-6"> <img class="img center-block greeting" src="images/bootstrap.png"> </div>
		<div class="col-xs-12 col-sm-6"> <img class="img center-block greeting" src="images/angularjs.png"> </div>
	</div>


</section>
