<section id="home-page">
	<div id="myCarousel" class="carousel slide">
		<!-- Indicators -->
		<!-- <ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
		</ol> -->
		<!-- Wrapper for slides -->
		<section class="carousel-inner">
			<div class="active item">
				<!-- <img src="images/bg-sky.png" alt="Background"> -->
				<div class="cover-background"></div>
				<div class="container">
					<div class="carousel-caption cover-text">
						<div class="greeting">
							<h1>Hello</h1>
							<p>I'm Dau Lam</p>
							<p>Software Developer in Philadelphia, PA</p>
						</div>
						<p><a class="btn btn-md btn-default" href="#/" role="button" data-ng-click="toggleNav()">Click to Begin</a></p>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="row">
		<p class="text-center greeting">Cover photo by <a href="https://unsplash.com/brenomachado" target="_blank">Breno Machado</a></p>


		<p class="text-center">This website is coded in AngularJS with great help from Twitter Bootstrap. <a href="https://github.com/netlams/my-web-portfolio/" target="_blank">Interested in source code?</a></p>
      	<div class="col-xs-12 col-sm-6"> <img class="img center-block greeting" src="images/bootstrap.png"> </div>
		<div class="col-xs-12 col-sm-6"> <img class="img center-block greeting" src="images/angularjs.png"> </div>
	</div>

	<div class="row">
		<p class="text-center greeting">&copy; 2015 Dau Lam</p>
	</div>

</section>
