<!-- sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand cursive-font">	<h2><a href="#/">Dau Lam</a></h2>	</li>
		<li data-ng-class="{active: isSet(1)}">	
			<a data-ng-click="setActive(1)" href="#/home"> 
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> 	</li>
		<li data-ng-class="{active: isSet(2)}"> 
			<a data-ng-click="setActive(2)" href="#/about">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span> About</a> </li>
		<li data-ng-class="{active: isSet(3)}"> 
			<a data-ng-click="setActive(3)" href="#/projects">
				<span class="glyphicon glyphicon-send" aria-hidden="true"></span> Projects</a> </li>
		<li class="divider"></li>
		<li> <a href="https://github.com/netlams" target="_blank">
			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Github</a> </li>
		<li> <a href="https://linkedin.com/in/daulam" target="_blank">
			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Linkedin</a> </li>
		<li> <a href="mailto:dlam@temple.edu">
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email: dlam@temple.edu</a> </li>
	</ul>
</div> <!-- end sidebar -->

<!-- top bar -->
<div id="top-bar">
	<div id="row">
		<h3 class="text-center cursive-font"><a class="email" href="#/home">Dau Lam</a></h3>
	</div>
</div>
<span id="main-nav-btn" class="glyphicon glyphicon-list" aria-hidden="true" data-ng-click="toggleNav()" ></span>
